<ion-header>

    <ion-navbar color="primary">
        <ion-title>Factura <span *ngIf="invoice">#{{invoice.FACT_NUMEROFACTURA}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar placeholder="Buscar elemento" type="text" (ionInput)="onInput($event)"></ion-searchbar>
    {{search}}
    <ion-card class="cards-list-demo">
        <ion-item-group>
            <ion-item-divider color="light"><span [ngStyle]="{'color': invoice.state_color.color }">● Factura #{{invoice.FACT_NUMEROFACTURA}}</span></ion-item-divider>
            <ion-item>
                <h2>{{invoice.FACT_DESCRIPCION}}</h2>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Subtotal</ion-label>
                <ion-label class="align-right">{{invoice.SUBTOTAL | currency:'USD':true:'1.0-2'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Valor Total</ion-label>
                <ion-label class="align-right">{{invoice.VALORTOTAL | currency:'USD':true:'1.0-2'}}</ion-label>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngFor="let invde of invoice_detail; let i = index;">
            <ion-item-divider color="light">
                <span [ngStyle]="{'color': invde.state_color.color }">● Elemento #{{invde.CLAS_ID}}</span>
            </ion-item-divider>
            <ion-item>
                <h2><strong>{{invde.CLAS_NOMBRE}}</strong></h2>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Presentación</ion-label>
                <ion-label class="align-right">{{invde.UNME_NOMBRE}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Cantidad</ion-label>
                <ion-label class="align-right">{{invde.FADE_CANTIDAD}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Valor unitario</ion-label>
                <ion-label class="align-right">{{invde.FADE_VALORUNITARIO | currency:'USD':true:'1.0-2'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Iva</ion-label>
                <ion-label class="align-right">{{invde.FADE_PORCENTAJEIVA}}%</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Valor IVA</ion-label>
                <ion-label class="align-right">{{invde.FADE_SUBTOTALIVA | currency:'USD':true:'1.0-2'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Subtotal</ion-label>
                <ion-label class="align-right">{{invde.FADE_SUBTOTALVALOR | currency:'USD':true:'1.0-2'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Valor total</ion-label>
                <ion-label class="align-right">{{invde.FADE_VALORTOTAL| currency:'USD':true:'1.0-2'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="light-text">Estado</ion-label>
                <ion-select (ionChange)="changeState($event, invde.FADE_ID, i)" [(ngModel)]="invde.state_color_copy.id" multiple="false" cancelText="Cancelar" okText="Editar" [ngStyle]="{'color': invde.state_color.color }">
                    <ion-option value="A">Aceptado</ion-option>
                    <ion-option value="P">Pendiente</ion-option>
                    <ion-option value="C">Anulado</ion-option>
                    <ion-option value="R">Rechazado</ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
    </ion-card>
</ion-content>