<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="current_slide == 0">Información general</ion-title>
        <ion-title *ngIf="current_slide == 1">Movimientos</ion-title>
        <ion-title *ngIf="current_slide == 2">Caracteristicas</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-searchbar placeholder="Buscar elemento" type="number" debounce="1500" (ionInput)="getElementByCode($event.target.value, updateElement, this)"></ion-searchbar>
    <ion-slides class="pagemainclass" zoom="false" *ngIf="elements" (ionSlideDidChange)="slideChanged()">
        <!--INFORMACION GENERAL-->
        <ion-slide>
            <ion-card class="cards-list-demo">
                <ion-item-group>
                    <ion-item-divider color="light">
                        <span>Información general</span>
                    </ion-item-divider>
                    <ion-item>
                        <h2><strong>{{elements[0].ELEM_NOMBRE}}</strong></h2>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light-text">Descripción</ion-label>
                    </ion-item>
                    <ion-label class="align-right">{{elements[0].ELEM_DESCRIPCION}}</ion-label>
                    <ion-item>
                        <ion-label color="light-text">Componentes</ion-label>
                        <ion-label class="align-right">{{elements[0].ELEM_COMPONENTES}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light-text">Serial</ion-label>
                        <ion-label class="align-right">{{elements[0].ELEM_SERIAL}}</ion-label>
                    </ion-item>
                </ion-item-group>
            </ion-card>
            <ion-card class="cards-list-demo" *ngFor="let clas of clasificator;">
                <ion-item-group>
                    <ion-item-divider color="light">
                        <span>Clasificador</span>
                    </ion-item-divider>
                    <ion-item>
                        <ion-label color="light-text">Segmento #{{clas.CLAS_IDVISUAL_SEGMENTO}}</ion-label>
                    </ion-item>
                    <ion-label class="align-right">{{clas.CLAS_NOMBRE_SEGMENTO}}</ion-label>
                    <ion-item>
                        <ion-label color="light-text">Clase #{{clas.CLAS_IDVISUAL_CLASE}}</ion-label>
                    </ion-item>
                    <ion-label class="align-right">{{clas.CLAS_NOMBRE_CLASE}}</ion-label>
                    <ion-item>
                        <ion-label color="light-text">Familia #{{clas.CLAS_IDVISUAL_FAMILIA}}</ion-label>
                    </ion-item>
                    <ion-label class="align-right">{{clas.CLAS_NOMBRE_FAMILIA}}</ion-label>
                </ion-item-group>
            </ion-card>
        </ion-slide>
        <!--INFORMACION GENERAL-->
        <!--MOVIMIENTOS-->
        <ion-slide>
            <ion-card class="cards-list-demo" *ngFor="let mov of movements;">
                <ion-item-group>
                    <ion-item-divider color="light">Movimiento</ion-item-divider>
                    <ion-item>
                        <h2>{{mov.FUNCIONARIO}}</h2>
                        <p>Documento: {{mov.PEGE_DOCUMENTOIDENTIDAD}}</p>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light-text">Dependencia #{{mov.UNID_ID}}</ion-label>
                    </ion-item>
                    <ion-label class="align-right">{{mov.UNID_NOMBRE}}</ion-label>
                    <ion-item>
                        <ion-label color="light-text">Proceso</ion-label>
                        <ion-label class="align-right">{{mov.COPR_PROCESO}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light-text">Fecha</ion-label>
                        <ion-label class="align-right">{{mov.COAL_FECHA | date: 'dd/MM/yyyy'}}</ion-label>
                    </ion-item>
                </ion-item-group>
            </ion-card>
        </ion-slide>
        <!--MOVIMIENTOS-->
        <!--CARACTERISTICA-->
        <ion-slide>
            <ion-card class="cards-list-demo" *ngFor="let charac of characteristics;">
                <ion-item-group>
                    <ion-item-divider color="light">
                        <span>Caracteristica</span>
                    </ion-item-divider>
                    <ion-item>
                        <h2>{{charac.CARA_DESCRIPCION}}</h2>
                    </ion-item>
                    <ion-item>
                        <ion-label color="light-text">Valor</ion-label>
                        <ion-label class="align-right">{{charac.ELCV_VALOR}}{{charac.ELCV_UNIDAD}}</ion-label>
                    </ion-item>      
                    <ion-item>
                        <ion-label color="light-text">Estado</ion-label>
                        <ion-label class="align-right">{{(charac.ELCV_ESTADO == 'A')? 'Activo' : 'Inactivo'}}</ion-label>
                    </ion-item>          
                </ion-item-group>
            </ion-card>
        </ion-slide>
        <!--CARACTERISTICA-->
    </ion-slides>
</ion-content>
<ion-footer>
    <ion-toolbar style="padding: 0;" color="primary">
        <ion-grid class="button-group" style="padding: 0;">
            <ion-row>
                <ion-col>
                    <button ion-button block style="color: white" clear (click)="goToSlide(0)" [ngClass]="{ 'active-tab' : this.current_slide == 0 }">Elemento</button>
                </ion-col>
                <ion-col>
                    <button ion-button block style="color: white" clear (click)="goToSlide(1)" [ngClass]="{ 'active-tab' : this.current_slide == 1 }">Movimientos</button>
                </ion-col>
                <ion-col>
                    <button ion-button block style="color: white" clear (click)="goToSlide(2)" [ngClass]="{ 'active-tab' : this.current_slide == 2 }">Caracteristicas</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
