<ion-menu [content]="content" id="menu1">
    <ion-header class="header-md--plane">
        <ion-card class="card-profile">

            <img *ngIf="user" src="{{user.profile_photo}}">
            <h2 *ngIf="user">{{user.profile_name}} {{user.profile_lastname}}</h2>
            <p *ngIf="user">{{user.profile_email}}</p>
        </ion-card>
    </ion-header>

    <ion-content style="margin-top: .8em">
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="briefcase" item-left></ion-icon>
        {{p.title}}
      </button>
            <button menuClose ion-item (click)="logout()">
                <ion-icon name="log-out" item-left></ion-icon>
        Cerrar Sesión
      </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>